autom4te.cache
Makefile
Makefile.in
aclocal.m4
config.h
config.h.in
config.h.in.orig
config.log
config.status
configure
config.guess
config.sub
config.rpath
depcomp
install-sh
missing
test-driver
compile
intltool-extract
intltool-merge
intltool-update
.intltool-merge-cache
.DS_Store
*.framework
*.xcworkspace
xcuserdata
build
*.o
*.a
*.lib
*.ndx
*.exe
*.pdb
*.prg
*.tos
*.ttp
*.app
*.ldg
*.slb
*.pcf
*.ref
*.hyp
*.stg
*.lst
*.srec
*.log
*.trs
lt-*.c
stamp-*
.stamp.*
.libs
.deps
.dirstamp
.xlk
mon.out
gmon.out
a.out
core
*.gcda
*.gcno
*.gcov
*.orig
*.bak
bla.*
aaa.cfg
.fuse_*
